body {
  background: url(../../splash/mageworkstudios.png);
  color: white;
  background-size: contain;
  background-position: bottom;
  transition: 0.5s ease;
}

.spinner-border {
  position: absolute;
  top: 28rem;
  left: 25rem;
}